In [ ]:
!pip install huggingface_hub

In [23]:
from huggingface_hub import hf_hub_download
import pandas as pd
import joblib

# Configuration
REPO_ID = "Alok8732/Movie_Recommnedation_Artifacts"

print("Fetching artifacts from Hugging Face...")

# 1. Load the Dataframe
parquet_path = hf_hub_download(repo_id=REPO_ID, filename="movies_fully_cleaned.parquet", repo_type="dataset")
df = pd.read_parquet(parquet_path)
df = df.reset_index(drop=True)
# 2. Load the TF-IDF Matrix
matrix_path = hf_hub_download(repo_id=REPO_ID, filename="tfidf_matrix.pkl", repo_type="dataset")
tfidf_matrix = joblib.load(matrix_path)

# 3. Load the Vectorizer (Optional, but good to have)
vectorizer_path = hf_hub_download(repo_id=REPO_ID, filename="tfidf_vectorizer.pkl", repo_type="dataset")
tfidf_vectorizer = joblib.load(vectorizer_path)

print(f"✅ Success! Loaded {len(df)} movies and a {tfidf_matrix.shape} similarity matrix.")

Fetching artifacts from Hugging Face...
✅ Success! Loaded 503398 movies and a (503398, 50000) similarity matrix.

In [24]:
import pandas as pd
import joblib
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
# ADD THESE TWO LINES:
from thefuzz import process, fuzz
from IPython.display import display

In [25]:
# Create the movie index map to link titles to matrix rows
movie_index_map = pd.Series(df.index, index=df["title"]).drop_duplicates()
print(f"Index map created for {len(movie_index_map)} unique movies.")

Index map created for 503398 unique movies.

In [26]:
def get_recommendations(title, n=12, alpha=0.85, beta=0.15):
    # 1. ENSURE MAP EXISTS
    global movie_index_map
    if 'movie_index_map' not in globals():
        movie_index_map = pd.Series(df.index, index=df["title"]).drop_duplicates()

    # 2. SCALABLE FUZZY MATCHING
    all_titles = df['title'].unique()
    best_match, score = process.extractOne(title, all_titles, scorer=fuzz.WRatio)
    
    if score < 60 or len(title.strip()) < 3:
        print(f"⚠️ Search term '{title}' is too vague.")
        return None
    
    # 3. EXTRACT MATRIX INDEX
    idx_entry = movie_index_map[best_match]
    idx = idx_entry.iloc[0] if isinstance(idx_entry, pd.Series) else idx_entry
    
    # 4. COMPUTE HYBRID SCORE
    sim_scores = cosine_similarity(tfidf_matrix[idx], tfidf_matrix).flatten()
    log_pop = np.log1p(df['vote_count'])
    pop_norm = (log_pop - log_pop.min()) / (log_pop.max() - log_pop.min())
    
    hybrid_scores = (alpha * sim_scores) + (beta * pop_norm.values)
    
    # 5. EFFICIENT SELECTION WITH ZERO-VOTE PENALTY
    # We grab more than 'n' results initially to ensure we have room to re-sort
    k_search = n * 2 
    partition_idx = np.argpartition(hybrid_scores, -k_search)[-k_search:]
    
    # 6. FORMAT AND FINAL SORT
    res = df.iloc[partition_idx].copy()
    res['similarity'] = sim_scores[partition_idx]
    res['hybrid_score'] = hybrid_scores[partition_idx]
    
    # REMOVE THE SEARCHED MOVIE ITSELF
    res = res[res.index != idx]
    
    # SECONDARY SORTING: Sort by hybrid_score first, then by vote_count
    # This ensures that if scores are similar, the one with more votes wins.
    # It also naturally pushes 0-vote movies lower.
    res = res.sort_values(by=['hybrid_score', 'vote_count'], ascending=False).head(n)
    
    print(f"✅ Found matches for: '{best_match}'")
    return res[['title', 'genres', 'vote_count', 'similarity', 'hybrid_score']].reset_index(drop=True)

In [17]:
# Test with a popular title
results = get_recommendations("Avata", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

✅ Found matches for: 'Avatar'

In [11]:
# Test with a popular title
results = get_recommendations("Fast X", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

✅ Recommendations for: 'Fast X'

In [27]:
results = get_recommendations("Dhurandhar", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

✅ Found matches for: 'Dhurandhar'

In [28]:
results = get_recommendations("ek tha tiger", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

✅ Found matches for: 'Ek Tha Tiger'

In [31]:
results = get_recommendations("pushpa", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

✅ Found matches for: 'Push'

In [32]:
results = get_recommendations("dangal", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

✅ Found matches for: 'Dangal'

In [33]:
results = get_recommendations("sholay", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

✅ Found matches for: 'Sholay'

In [34]:
results = get_recommendations("pK", n=12)

if results is not None:
    display(results.style.hide(axis='index'))

⚠️ Search term 'pK' is too vague.

In [35]:
# Check if popular movies exist
test_titles = [
    "Dune: Part Two",
    "Mad Max: Fury Road", 
    "Mission: Impossible - Fallout",
    "Blade Runner 2049"
]

for title in test_titles:
    if title in df['title'].values:
        print(f"✓ {title} exists")
    else:
        print(f"✗ {title} MISSING")

✓ Dune: Part Two exists
✓ Mad Max: Fury Road exists
✓ Mission: Impossible - Fallout exists
✓ Blade Runner 2049 exists

NameError: name 'bollywood_movies' is not defined